//${}-palette:(
//    50: ,
//    100: ,
//    200: ,
//    300: ,
//    400: ,
//    500: ,
//    600: ,
//    700: ,
//    800: ,
//    900: ,
//    contrast: (
//        50: black,
//        100:black, 
//        200: black,
//        300: black,
//        400: black,
//        500: white,
//        600: white,
//        700: white,
//        800: white,
//        900: white,
//        )
//);


$champagne-palette:(
    50: #efd9ce,
    100: #d1aa86,
    200: #ac763c,
    300: #864800,
    400: #702c00,
    500: #5e0d00,
    600: #590800,
    700: #530300,
    800: #4b0000,
    900: #400000,
    contrast: (
        50: black,
        100:black, 
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        )
);

$slate-blue-palette:(
    50: #ede9fc,
    100: #d1c8f8,
    200: #b1a4f5,
    300: #8f7ef2,
    400: #7261ef,
    500: #4f46eb,
    600: #4141e4,
    700: #2639db,
    800: #0033d4,
    900: #0029c5,
    contrast: (
        50: black,
        100:black, 
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        )
)