// styles.scss

@use "@angular/material" as mat;
@use "./styles/themes/all" as themes;

@include mat.core();

@include mat.all-component-themes(themes.$guid-man-theme);
@include mat.core-theme(themes.$guid-man-theme);
@include mat.button-theme(themes.$guid-man-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
